:root {
  --font-size-base: 1.5rem;

  --borderBottom: {
    &:after {
      position: absolute;
      content: ' ';
      width: 30%;
      height: 3px;
      background-color: red;
      bottom: 0;
      left: 0
    }
  }
}

.h1, .h2, .h3, .h4, .h5, .section {
  margin: 40px 0;
}

.h1, .h1 i {
  font-size: calc(var(--font-size-base) * 2.1)
}

.h2, .h2 i {
  font-size: calc(var(--font-size-base) * 1.9)
}

.h3, .h3 i {
  font-size: calc(var(--font-size-base) * 1.7)
}

.h4, .h4 i {
  font-size: calc(var(--font-size-base) * 1.5)
}

.h5, .h5 i {
  font-size: var(--font-size-base);
}

.section {
  font-size: calc(var(--font-size-base) * 2);
  position: relative;
  line-height: 100px;
  @apply --borderBottom;
}

.center {
  text-align: center;
  &:after {
    left: 37%;
    width: 25%;
  }
}

