@import '../common/effects';

:root {
  --hoverTile {
    transition: box-shadow .5s;
    &:hover {
      @apply --shadowEffect;
    }
  }
}

.tile {
  width: 25%;
  height: 40%;
  text-align: center;
  padding: 40px;
  cursor: pointer;
  border-radius: 5px;
  position: relative;
  @apply --hoverTile;
}

.tile p {
  color: gray;
}

.tileHoveredItem {
  top: -130px;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}