:root {
  --colorDarkPrimary:                    #D32F2F;
  --colorPrimary:                        #F44336;
  --colorLightPrimary:                   #FFCDD2;
  --colorPrimaryFont:                    #FFFFFF;

  --colorAccent:                         #D1D1D1;
  --colorFontAccent:                     #000000;

  --primaryTheme {
    background-color: var(--colorPrimary);
    color: var(--colorPrimaryFont);
  }
}