.servicesContainer {
  background-image: url(https://s3-ap-southeast-2.amazonaws.com/newlifecycles/bicycle.jpg);
  background-size: cover;
  width: 100%;
  height: 100%;
}

.form {
  width: 50%;
  background-color: rgba(0, 0, 0, .3);
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.formGroup {
  display: flex;
  padding: 15px 0;

  & > div:nth-child(1) {
    margin-right: 15px;
  }
}

.formContainer {
  width: 100%;
  padding: 0 100px;

  & button {
    margin-top: 20px;
  }
}